In [10]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\thekku\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\thekku\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [11]:
import mysql.connector as connector

In [17]:
connection = connector.connect(user = "Aditi", password = "Nimal#1970", db="littlelemon_db")
cursor = connection.cursor()

In [25]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

for table in cursor:
    print(table)

('bookings',)
('customer',)
('menu',)
('menuitems',)
('order delivery status',)
('orders',)
('ordersview',)
('staff',)

In [47]:
Customer_deets='SELECT c.`First Name` ,c.`Last Name`,c.ContactNumber,c.Address,c.Email, floor(o.TotalCost ) FROM customer c inner join orders o on c.CustomerID = o.CustomerID where TotalCost>60'
cursor.execute(Customer_deets)
cols = cursor.column_names
print(cols)
for table in cursor:
    print(table)

('First Name', 'Last Name', 'ContactNumber', 'Address', 'Email', 'floor(o.TotalCost )')
('Olivia', 'Smith', 2344321234, '12 Dundas St', 'oliviasmith@gmail.com', 301)
('Emma', 'Johnson', 4566543456, '56 Lee Centre Dr', 'emmajohnson@gmail.com', 141)
('Charlotte', 'Williams', 7899876789, '57 Bay St', 'charlottewilliams@gmail.com', 201)
('Amelia', 'Brown', 4322341243, '67 Adelaide Dr', 'ameliabrown@gmail.com', 170)